/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

#container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

canvas {
    margin-top: 20px;
    border: 1px solid #ccc;
}

div h4 {
    color: #333;
    font-size: 1.2em;
}

#container {
    margin-top: 20px;
    /* background-color: #4CAF50; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#chart{
    height: 80%;
    width: 70%;
}

#pulse_specific{
    width: 20%;
}

/* Styling for pulse data metrics */
/* #container div h4 span {
    font-weight: bold;
    color: black;
    margin: 5em;
align-self: left;
} */

#pulse_specific {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 10px 0;
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ddd;
} 

th {
    background-color: #f2f2f2;
    font-weight: bold;
} 

td {
    background-color: #fafafa;
} 

span {
    font-weight: bold;
}
